.navHeader {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  align-items: center;
  margin-left: 50vh;
  margin-right: 50vh;
}

.navLink {
  display: flex;
}

:where(.css-dev-only-do-not-override-1b0bdye).ant-carousel .slick-dots li button {

  background-color: black !important;
}